argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
attrs==25.3.0
cffi==1.17.1
Charm-Crypto==0.50
cryptography==45.0.3
Django==5.2.1
django-allauth==65.9.0
django-widget-tweaks==1.5.0
fido2==2.0.0
hypothesis==6.133.2
mysqlclient==2.2.7
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.23.0
pyotp==2.9.0
pyparsing==2.4.0
python-dotenv==1.1.0
qrcode==8.2
setuptools==80.9.0
sortedcontainers==2.4.0
sqlparse==0.5.3
